name: Format Python Code
on:
  push:
    paths:
      - 'SmartQuitIoT-AI/**'

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install Black
        run: pip install black

      - name: Run Black
        run: black SmartQuitIoT-AI

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Auto-format code with Black"
          file_pattern: 'SmartQuitIoT-AI/*.py SmartQuitIoT-AI/**/*.py'
